.card-design
{
  height: 500px;
  width: 300px;
  border: 1px solid black;
  margin: 20px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px black;
  
}

.card-heading
{
  text-align: center;
  font-size: 15px!important;
  color: brown;
}
.desc
{
  font-size: 15px;
  text-align: center;
}
/* .card-flex {
float: left;

  
} */
.card-design 
{
  object-fit: cover;
  overflow: hidden;
}


